body {
  /* background-color: rgba(17, 10, 43, 0.201); */
}

.panel {
  display: flex;
  flex-direction: column;
}

/* START AND STOP BUTTON CLASSES */
.serverButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 2em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.startButton {
  background-color: #007bff;
}

.startButton:hover {
  background-color: #0056b3;
  transform: scale(1.04);
}

.startButton:active {
  background-color: #00418a;
  transform: scale(0.95);
}

.stopButton {
  background-color: #ff3700;
}

/* SELECT FILE AND X BUTTON CLASSES */
.chooseFile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.chooseButton {
  border-radius: 0.6px;
  font-size: 1.1em;
  padding: 0.2em;
  width: 8em;
  margin-top: 5px;
}

.chooseButton:not([disabled]) {
  background-color: #6B6B6B;
  color: #fff;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1.1em;
  padding: 0.2em;
  width: 8em;
  overflow: hidden;
  transition: transform 0.2s;
}

.chooseButton:not([disabled]):hover {
  transform: scale(1.02);
}

.chooseButton:not([disabled]):active {
  transform: scale(0.95);
}

.xButton {
  display: inline-block;
  border: none;
  cursor: pointer;
  margin-left: 0.1em;
  font-size: 1.6em;
  color: #ff3700;
  background-color: transparent;
  transition: background-color 0.3s, transform 0.2s;
}

.xButton:hover {
  background-color: #ff3700a5;
  transform: scale(1.05);
}

.xButton:active {
  background-color: #ff370055;
  transform: scale(0.95);
}

.xButtonHide {
  display: hidden;
  border: none;
  margin-left: 0.2em;
  font-size: 2em;
  background-color: transparent;
}

/* SELECT FILE BUTTON WITH IMAGE CLASS */
.chooseButtonText {
  margin-right: 0.3em;
}

.chooseButtonImage {
  background-size: contain;
  background-repeat: no-repeat;
  width: 1em;
  height: 1em;
  border: transparent;
}

/* PANEL BUTTON CLASSES */
.buttonOne {
  display: inline-block;
  border: none;
  border-radius: 5px;
  margin-top: 2em;
  cursor: pointer;
  /* background-image: url('../assets/round-power-button-gold-logo-vector-43813764.jpg'); */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 2em;
}

.buttonTwo {
  display: inline-block;
  border: none;
  border-radius: 5px;
  margin-top: 1.5em;
  cursor: pointer;
  padding: 0.5em;
  background-color: rgb(230, 229, 229);
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.buttonTwo:hover {
  transform: scale(1.01);
  background-color: rgb(186, 184, 80);
}

#cleanFiles {
  position: absolute;
  bottom: 50px;
}